@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/vintage';
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

div.tiptap.ProseMirror h4 {
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;
	letter-spacing: var(--heading-letter-spacing) /* inherit */;
	font-size: var(--text-xl)
		/* calc(1.25rem * var(--text-scaling)) = calc(20px * var(--text-scaling)) */;
	line-height: var(--text-xl--line-height) /* calc(calc(1.75 / 1.25) ≈ 1.4 * var(--text-scaling)) */;
	@media (width >= 48rem /* 768px */) {
		font-size: var(--text-2xl)
			/* calc(1.5rem * var(--text-scaling)) = calc(24px * var(--text-scaling)) */;
		line-height: var(--text-2xl--line-height)
			/* calc(calc(2 / 1.5) ≈ 1.333333 * var(--text-scaling)) */;
	}
	&:where([data-mode='dark'], [data-mode='dark'] *) {
		color: var(--heading-font-color-dark) /* inherit */;
	}
}

div.tiptap.ProseMirror h5 {
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;
	letter-spacing: var(--heading-letter-spacing) /* inherit */;
	font-size: var(--text-lg)
		/* calc(1.125rem * var(--text-scaling)) = calc(18px * var(--text-scaling)) */;
	line-height: var(--text-lg--line-height)
		/* calc(calc(1.75 / 1.125) ≈ 1.555556 * var(--text-scaling)) */;
	@media (width >= 48rem /* 768px */) {
		font-size: var(--text-xl)
			/* calc(1.25rem * var(--text-scaling)) = calc(20px * var(--text-scaling)) */;
		line-height: var(--text-xl--line-height)
			/* calc(calc(1.75 / 1.25) ≈ 1.4 * var(--text-scaling)) */;
	}
	&:where([data-mode='dark'], [data-mode='dark'] *) {
		color: var(--heading-font-color-dark) /* inherit */;
	}
}

div.tiptap.ProseMirror h6 {
	color: var(--heading-font-color) /* inherit */;
	font-family: var(--heading-font-family) /* inherit */;
	font-weight: var(--heading-font-weight) /* inherit */;
	font-style: var(--heading-font-style) /* inherit */;
	letter-spacing: var(--heading-letter-spacing) /* inherit */;
	font-size: var(--text-base)
		/* calc(1rem * var(--text-scaling)) = calc(16px * var(--text-scaling)) */;
	line-height: var(--text-base--line-height) /* calc(calc(1.5 / 1) ≈ 1.5 * var(--text-scaling)) */;
	@media (width >= 48rem /* 768px */) {
		font-size: var(--text-lg)
			/* calc(1.125rem * var(--text-scaling)) = calc(18px * var(--text-scaling)) */;
		line-height: var(--text-lg--line-height)
			/* calc(calc(1.75 / 1.125) ≈ 1.555556 * var(--text-scaling)) */;
	}
	&:where([data-mode='dark'], [data-mode='dark'] *) {
		color: var(--heading-font-color-dark) /* inherit */;
	}
}

div.tiptap.ProseMirror mark {
	color: var(--color-tertiary-contrast-500) /* var(--color-tertiary-contrast-light) */;
	background-color: var(--color-tertiary-500) /* oklch(0.556 0 0) = #737373 */;
	border-radius: var(--radius-sm) /* 0.25rem = 4px */;
	padding-inline: calc(var(--spacing) * 1) /* 0.25rem = 4px */;
}

div.tiptap.ProseMirror a {
	color: var(--anchor-font-color) /* inherit */;
	font-family: var(--anchor-font-family) /* inherit */;
	font-size: var(--anchor-font-size) /* inherit */;
	line-height: var(--anchor-line-height) /* inherit */;
	font-weight: var(--anchor-font-weight) /* inherit */;
	font-style: var(--anchor-font-style) /* inherit */;
	letter-spacing: var(--anchor-letter-spacing) /* inherit */;
	text-decoration: var(--anchor-text-decoration) /* inherit */;
	&:hover {
		@media (hover: hover) {
			text-decoration: var(--anchor-text-decoration-hover) /* underline */;
		}
	}
	&:active {
		text-decoration: var(--anchor-text-decoration-active) /* inherit */;
	}
	&:focus {
		text-decoration: var(--anchor-text-decoration-focus) /* inherit */;
	}
	&:where([data-mode='dark'], [data-mode='dark'] *) {
		color: var(--anchor-font-color-dark) /* inherit */;
	}
}

div.tiptap.ProseMirror iframe {
	width: 100%;
	min-height: calc(var(--spacing) * 120) !important;
	height: auto !important;
}

div.tiptap.ProseMirror {
	padding: calc(var(--spacing) * 2);
	min-height: calc(var(--spacing) * 60);
	width: 100%;
	background-color: transparent;
	border-radius: var(--radius-base) /* 0.25rem = 4px */;
	display: block;
	font-size: var(--text-base)
		/* calc(1rem * var(--text-scaling)) = calc(16px * var(--text-scaling)) */;
	line-height: var(--text-base--line-height) /* calc(calc(1.5 / 1) ≈ 1.5 * var(--text-scaling)) */;
	padding-block: calc(var(--spacing) * 1) /* 0.25rem = 4px */;
	padding-inline: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
	outline-color: transparent;
	border-width: 0;
	--tw-ring-inset: inset;
	--tw-ring-color: var(--color-surface-200-800)
		/* light-dark(var(--color-surface-200), var(--color-surface-800)) */;
	--tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 var(--default-ring-width) /* 1px */
		var(--tw-ring-color, currentColor);
	box-shadow:
		var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
		var(--tw-ring-shadow), var(--tw-shadow);
	&:active {
		--tw-ring-color: var(--color-primary-500) /* oklch(0.556 0 0) = #737373 */;
	}
	&:focus {
		--tw-ring-color: var(--color-primary-500) /* oklch(0.556 0 0) = #737373 */;
	}
	&:focus-within {
		--tw-ring-color: var(--color-primary-500) /* oklch(0.556 0 0) = #737373 */;
	}
	&[type='file']::file-selector-button {
		cursor: pointer;
		border-radius: var(--radius-base) /* 0.25rem = 4px */;
		background-color: var(--color-surface-950-50)
			/* light-dark(var(--color-surface-950), var(--color-surface-50)) */;
		color: var(--color-surface-50-950)
			/* light-dark(var(--color-surface-50), var(--color-surface-950)) */;
		transform: translateY(calc(var(--spacing) * -0.5) /* -0.125rem = -2px */);
		margin-right: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
		text-transform: capitalize;
		font-size: var(--text-xs)
			/* calc(0.75rem * var(--text-scaling)) = calc(12px * var(--text-scaling)) */;
		height: var(--text-xs--line-height) /* calc(calc(1 / 0.75) ≈ 1.333333 * var(--text-scaling)) */;
		padding-block: calc(var(--spacing) * 0) /* 0rem = 0px */;
		padding-inline: calc(var(--spacing) * 3) /* 0.75rem = 12px */;
	}
	&[type='range'] {
		accent-color: var(--color-surface-950-50)
			/* light-dark(var(--color-surface-950), var(--color-surface-50)) */;
		box-shadow: none;
		padding-inline: initial;
	}
	&[type='color'] {
		border-radius: var(--radius-base) /* 0.25rem = 4px */;
		width: calc(var(--spacing) * 8.5) /* 2.125rem = 34px */;
		height: calc(var(--spacing) * 8.5) /* 2.125rem = 34px */;
		padding: 0;
		border: none;
		outline: none;
		-webkit-appearance: none;
	}
	&[type='color']::-webkit-color-swatch-wrapper {
		padding: 0;
	}
	&[type='color']::-webkit-color-swatch {
		border: none;
		border-radius: var(--radius-base) /* 0.25rem = 4px */;
	}
	&[type='color']::-moz-color-swatch {
		border: none;
	}
	&[type='color']::-moz-color-swatch {
		border: none;
	}
}
